<!-- FOOTER -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div class="fot-link">
                     <h3>Quick Link</h3>
                     <ul>
                        <li class="hvr-forward"><a routerLink="/">Home</a></li>
                        <li class="hvr-forward"><a routerLink="/web-development">Services</a></li>
                        <li class="hvr-forward"><a routerLink="/portfolio">Portfolio</a></li>
                        <li class="hvr-forward"><a routerLink="/career">Career</a></li>
                       <!--  <li class="hvr-forward"><a href="#">Resources</a></li> -->
                        <li class="hvr-forward"><a routerLink="/contact">Contact</a></li>
                        
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="fot-link">
                     <h3>Quick Link</h3>
                     <ul>
                        <li class="hvr-forward"><a routerLink="/web-development">Web Development</a></li>
                        <li class="hvr-forward"><a routerLink="/mobile-development">Mobile App Development</a></li>
                        <li class="hvr-forward"><a routerLink="/digital-marketing">Digital Marketing</a></li>
                       <!--  <li class="hvr-forward"><a href="#">Technical Support</a></li> -->
                        <li class="hvr-forward"><a routerLink="/photography">360<sup>0</sup> Shoot</a></li>
                     </ul>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6">
                  <div class="fot-link">
                     <h3>Google Street View Trusted Agency</h3>
                     <ul>
                       <li><img src="assets/images/trusted-agency.png" class="img-responsive"></li>
                     </ul>
                     <ul class="footer-social-link text-center">
                      <li><a target="_blank" href="https://www.facebook.com/magnusideas/"><i class="fa fa-facebook"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                        <li><a target="_blank" href="https://www.linkedin.com/company/magnus-ideas/about/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                     </ul>
                    
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="copyright">
               <div class="row">
                  <div class="col-md-6 col-sm-6">
                     <p class="text-left">Copyright {{year}} All Right Reserved.</p>
                  </div>
                  <div class="col-md-6 col-sm-6">
                     <p class="text-right">Design & Developed By <a target="_blank" href="https://magnusideas.com/"> Magnus Ideas Pvt. Ltd. </a></p>
                  </div>
               </div>
            </div>
         </div>
      </footer>