 <!-- Carousel
         ================================================== -->
      
      <section id="inner-page" class="inner-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1 class="banner-heading">Design UI & UX</h1>
                   
                  </div>
               </div>
               <!-- <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/contact-img.png" class="img-responsive" alt=""></div>
               </div> -->
            </div>
         </div>
      </section>

<section id="about-page" class="form wow pixFadeLeft" data-wow-delay="0.3s">
<div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="service-heading">
              <h1><!-- Powerful services for  --><span>Design UI & UX</span></h1><br>
<p><strong>CREATIVE WEB DESIGN COMPANY websites that are unique and stylish and inspire, interact and deliver results.</strong> </p>

          </div>

          <p>UNIQUE & INNOVATIVE WEBSITE DESIGNING SERVICES It is most effective to come up with websites that look great, but they should also bring benefits to your business. It's easy for your website to get outdated, web designs, trends need constant changes and changes in designs and content to stand out in today's competitive marketplace.</p>
          <p>With the rise in smartphone and TABLET browsing, it is important that your website adapts to the platform on which it is viewed. Our website developers are using responsive design strategies to ensure that it is smart and runs on all platforms. We appear to use the current HTML5 and CSS3 front-end technologies.</p>
          <p></p>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="xabout-page-img">
           <img src="assets/images/ui-ux.png" class="img-responsive" alt="">
          </div>
          </div>
         
          
    
        </div>
 <hr>
        <div class="row">
           <div class="col-md-12 col-sm-12">
<h4>WE ARE ARTISTS NOT JUST A WEB DESIGNERS</h4>
<p>
 Our creative team is made up of talented people who are more than just a web design in their way.Our group of web developers, project managers and marketers are bringing strategic thinking to the venture. This helps us to create unique, innovative and engaging websites that are reflected in our clients ' digital success and development.</p>


        <h4>RESPONSIVE DESIGN</h4>
          <p>
Responsive Web Design is a new age internet, a concept with a huge expansion in technology, the use of sophisticated mobile phones and tablets has hit the sky, which allows you more opportunities to sell. These new sites guarantee a significantly better knowledge of surfing and snatch your target viewer's full consideration.
</p>
 <h4>CUSTOM LAYOUT DESIGN</h4>
<p>
 
Magnus Ideas Pvt. Ltd. spends a significant amount of time making beautiful, fascinating and modified sites so that your online personality goes a long way to impacting and changing your potential customers from the moment they arrive on your site.
The early introduction is a key compound at a time when the breakdown of your rivals is endless and each and every element could become lost business.

</p>
<h4>PSD TO HTML5 DESIGN</h4>
<p>
Our developers are adopting the latest website design trends that accentuate your business in the best way possible. As a leading PSD service provider for Responsive HTML, we use CSS3 to convert your Photoshop designs into a 100% hand-coded, pixel-perfect, W3C-validated & cross-browser-compatible HTML5 markup.
</p>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <ul class="custom-list mr-t20">
       <li>Adaptable Search engine optimization structure</li>
      <li>Advantageous usage of dynamic usefulness</li>
      <li>Adaptable Search engine optimization structure</li>
      <li>Sets up character</li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-6">
    <ul class="custom-list mr-t20">
              <li>Solid W3C coding</li>
              <li>Various program bolster</li>
               <li>Mistake free site</li>
              <li>Proficient look and feel of your site</li>
    </ul>
  </div>
</div>

<ul class="custom-list mr-t20">
             
            
             
          </ul>

  </div>
        </div>

</div>
 
  
</section>
    
      
<div class="clearfix"></div>