 <!-- Carousel
         ================================================== -->
      
      <section id="inner-page" class="inner-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1 class="banner-heading">Contact Us</h1>
                     
                  </div>
               </div>
               <!-- <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/contact-img.png" class="img-responsive" alt=""></div>
               </div> -->
            </div>
         </div>
      </section>

<section id="contact" class="form">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" id="contactForm">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 wow pixFadeLeft animated" data-wow-delay="0.6s">
          <div class="contact-info"><h3 class="title">Head Office</h3><p class="description">kanherewadi No:-3, charudatta chambers,near AK Pawar hospital, CBS Road, <br>Kanherewadi, Nashik, Maharashtra 422001</p>
             <div class="info email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:business@magnusideas.com">&nbsp;business@magnusideas.com</a></div>
            <div class="info phone"><i class="fa fa-phone"></i>&nbsp;<span>+91 9850 556 525</span></div>
          </div>
          <div class="contact-info"><h3 class="title">Regional Office</h3><p class="description">303, C Wing, Shanti Enclave, Near Shanti Shopping Centre, Mira Road Station <br>Mira Road Thane, Pin Code - 401107</p>
            <div class="info email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:business@magnusideas.com">&nbsp;business@magnusideas.com</a></div>
            <div class="info phone"><i class="fa fa-phone"></i>&nbsp;<span>+91 9851 192 192</span></div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 mrt-30 wow pixFadeLeft animated" data-wow-delay="0.6s">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
            <input type="text" class="input-box" placeholder="Name" name=""  formControlName="name" required="">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
              <div *ngIf="f.name.errors.pattern">Only alphabets allowed</div>
          </div>
          </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
            <input type="email" class="input-box" placeholder="Email" name="" formControlName="email" required="">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Invalid email</div>
          </div>
          </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
            <input type="text" class="input-box" placeholder="Mobile No. " name="" formControlName="phone" required="">
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">Mobile No is required</div>
              <div *ngIf="f.phone.errors.pattern">Mobile number must be 10 digit number</div>
          </div>
          </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
            <input type="text" class="input-box" placeholder="City" name="" formControlName="city" required="">
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">City is required</div>
          </div>
          </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <textarea rows="5" class="input-box" placeholder="Message" formControlName="message" required=""></textarea>
                <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                <div *ngIf="f.message.errors.required">Message is required</div>
            </div>
          </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <input type="submit" class="Submit-btn wow pixFadeUp" value="Submit">
                
          </div>
            </div>

            <div class="col-md-12 col-sm-12">
               <p class="text-center" id="thanks" style="display: none">
                                Thanks for contacting us!
                            </p>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
      
    <section id="flex-map" >
      <div class="Flexible-container">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.219874802366!2d73.78154401491571!3d19.999284486564953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddeb9bb1f22a2d%3A0x41f9143d797eea7d!2sMagnus+Ideas+(+Website+Design+%26+Mobile+App+%26+Website+Development+Company+in+Nashik%2C+Mumbai%2CPune)!5e0!3m2!1sen!2sin!4v1566218611639!5m2!1sen!2sin"></iframe>
   </div>
    </section>   
      
      
      
      <div class="clearfix"></div>