   <header class="site-header header-two header_trans-fixed" data-top="992">
         <div class="container">
            <div class="heder-inner">
               <div class="site-mobile-logo"><a routerLink="/" class="logo"><img src="assets/images/logo.png" alt="site logo" class="main-logo" style=""> <img src="assets/images/logo.png" alt="site logo" class="sticky-logo" style="display: none;"></a></div>
               <div class="toggle-menu" onclick="header()"><span class="bar"></span> <span class="bar"></span> <span class="bar"></span></div>
               <nav class="site-nav nav-two">
                  <div class="close-menu" id="close"><span> Close </span> &nbsp;<i class="fa fa-times"></i></div>
                  <div class="site-logo"><a routerLink="/" class="logo"><img src="assets/images/logo.png" alt="site logo" class="main-logo" style=""> <img src="assets/images/logo.png" alt="site logo" class="sticky-logo" style="display: none;"></a></div>
                  <div class="menu-wrapper" data-top="992" style="padding-top: 0px;">
                     <ul class="site-main-menu">
                        <li class="menu-item-has-children hidden-fa-angle">
                           <a routerLink="/">Home</a>
                        </li>
                        <li><a routerLink="/about">About</a></li>
                        <li class="menu-item-has-children">
                           <a routerLink="/">Services</a>
                         <ul class="sub-menu">
                              <li><a routerLink="/web-development">Web Development</a></li>
                              <li><a routerLink="/mobile-development">Mobile App Development</a></li>
                              <li><a routerLink="/digital-marketing">Digital Marketing</a></li>
                              <li><a routerLink="/design-ui-ux">Design, UI & UX</a></li>
                              <li><a routerLink="/development">Software Development</a></li>
                              <li><a routerLink="/photography">360<sup>0</sup> Shoot</a></li>
                              
                           </ul>
                        </li>
                        <li><a routerLink="/portfolio">Portfolio</a></li>
                         <li><a routerLink="/career">Career</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
      </header>

  