<!-- Carousel
         ================================================== -->
      
      <section id="inner-page" class="inner-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1 class="banner-heading">Portfolio</h1>
                    
                  </div>
               </div>
              <!--  <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/contact-img.png" class="img-responsive" alt=""></div>
               </div> -->
            </div>
         </div>
      </section>

<section id="about-page" class="form">
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects1.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Rajshri Food</h3>
                            <span class="post">Web Developer</span>
                      <!-- <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="https://rajshrifood.com/" target="_blank" class="fa fa-link"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
             
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects2.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">ePoint Technologies</h3>
                            <span class="post">Web Developer</span>
                     <!--  <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="http://cabletestsystem.com/index.php" target="_blank" class="fa fa-link"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
             
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.9s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects3.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Helio Scientific</h3>
                            <span class="post">Web Developer</span>
                     <!--  <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                        
                        <li><a href="http://helioscientific.samantechnosys.in/" class="fa fa-link" target="_blank"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects4.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Sarvamangal Tech Ventures</h3>
                            <span class="post">Web Developer</span>
                     <!--  <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="http://mytasks.co.in/stv/about.html" target="_blank" class="fa fa-link"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
             
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects5.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Rural Hand Made</h3>
                            <span class="post">Web Developer</span>
                     <!--  <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="https://ruralhandmade.com/" class="fa fa-link" target="_blank"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
             
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.9s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects6.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Cubro Network Visibility</h3>
                            <span class="post">Web Developer</span>
                     <!--  <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="https://www.cubro.com/en/" class="fa fa-link" target="_blank"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
           <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects7.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Victor India</h3>
                            <span class="post">Web Developer</span>
                      <!-- <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="http://victorindia.com/" target="_blank" class="fa fa-link"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
             
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects8.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Nishika</h3>
                            <span class="post">Web Developer</span>
                     <!--  <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="http://nishika.pbmcomputers.com/" target="_blank" class="fa fa-link"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.9s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects9.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Lumiverse Solutions</h3>
                            <span class="post">Web Developer</span>
                     <!--  <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="http://lumiversesolutions.com/" target="_blank" class="fa fa-link"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects10.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Unique Business Solution</h3>
                            <span class="post">Angular</span>
                     <!--  <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="http://ubsolution.co.in/" target="_blank" class="fa fa-link"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.9s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects11.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Krushi Prasar Foundation</h3>
                            <span class="post">Development</span>
                      <!-- <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="http://krushiprasar.org/" target="_blank" class="fa fa-link"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card mar-bot30 box3">
                    <img src="assets/images/projects12.jpg" alt="Park" class="card-img-top">
                    <div class="box-content">
                            <h3 class="title">Star Trust</h3>
                            <span class="post">Front End Development</span>
                     <!--  <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                      </p> -->
                      <ul class="icon">
                       
                        <li><a href="http://startrust.in/" target="_blank" class="fa fa-link"></a></li>
                       </ul>
                        </div>
                   
                </div>
            </div>
       
        </div>
      </div>
</section>
      
<div class="clearfix"></div>