@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap";
body {
    font-family: 'Poppins', sans-serif;
    color: #2f2f2f;
    line-height: 30px;
    font-size: 16px;
    overflow-x: hidden;
    background: #fff;
    position: relative
}

ul,
ol {
    margin: 0;
    padding: 0
}

a,
button {
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    text-decoration: none!important
}

a,
a:focus,
a:hover,
a:active,
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif
}

@font-face {
    font-family: 'icomoon';
    src: url(../fonts/icomoon.eot?jkbtqg);
    src: url(../fonts/icomoon.eot?jkbtqg#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf?jkbtqg) format("truetype"), url(../fonts/icomoon.woff?jkbtqg) format("woff"), url(../fonts/icomoon.svg?jkbtqg#icomoon) format("svg");
    font-weight: 400;
     font-display: swap;
    font-style: normal

}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon'!important;
      font-display: swap;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-plane:before {
    content: "\e900"
}

.icon-phone:before {
    content: "\e901"
}

.icon-facebook-placeholder-for-locate-places-on-maps:before {
    content: "\e902"
}

.icon-long-arrow-pointing-to-left:before {
    content: "\e903"
}

.icon-arrow:before {
    content: "\e904"
}

.icon-facebook-logo-button:before {
    content: "\e905"
}

.icon-twitter-logo-button:before {
    content: "\e906"
}

.icon-instagram:before {
    content: "\e907"
}

.icon-linkedin-logo-button:before {
    content: "\e908"
}

.icon-dribbble-logo:before {
    content: "\e909"
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    margin: 15px 0
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #3391c0;
    background-color: transparent
}

.navbar-inverse .navbar-nav>li>a {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    padding: 30px 20px
}

.headertop {
    position: relative;
    font-size: 13px;
    background: #f7f7f7;
    font-family: 'Poppins', sans-serif;
    text-align: right
}

.headertop ul {
    margin: 0;
    padding: 0
}

.headertop li {
    display: inline-block;
    padding: 10px;
    color: #333;
    font-size: 16px
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #3391c0;
    background-color: transparent
}

.navbar-brand {
    height: auto;
    padding: 0;
    z-index: 99;
    position: relative
}

.navbar-wrapper {
    margin-top: 0;
    position: relative;
    z-index: 9;
    width: 100%
}

#about {
    border-bottom: 2px dotted #eee;
    padding: 60px 0;
    background: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-position: left
}

#parllax-bg {
    width: 100%;
    float: left;
    background: linear-gradient(-60deg, #7052fb, #8a60fd);
    padding: 80px 0;
    background-size: cover
}

.white-blk {
    background-color: #fff;
    box-shadow: 0 12px 41px -1px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 6%
}

.white-blk h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    color: #333;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px
}

.white-blk h2::before {
    background: #2154cf none repeat scroll 0 0;
    bottom: 5px;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px
}

.white-blk h2::after {
    background: #2154cf none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px
}

#work .banner-btn {
    color: #fff;
    padding: 10px 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 14px;
    display: inline-block
}

#work .banner-btn.color-two {
    background: #7052fb;
    -webkit-box-shadow: 0 20px 30px 0 rgba(90, 70, 176, .3);
    box-shadow: 0 20px 30px 0 rgba(90, 70, 176, .3);
    border: 1px solid transparent
}

#work {
    padding: 80px 0
}

#work h2 {
    position: relative;
    padding-bottom: 20px
}

#work h2::before {
    background: #2154cf none repeat scroll 0 0;
    bottom: 5px;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px
}

#work h2::after {
    background: #2154cf none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px
}

.img-center {
    text-align: center;
    display: inline-block
}

.section-title {
    margin-bottom: 70px
}

.section-title .sub-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7052fb;
    letter-spacing: 3px
}

.section-title .title {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.4
}

.work-blk {
    box-shadow: 0 30px 60px 0 rgba(52, 27, 159, .1);
    padding: 45px 25px;
    background: #fff
}

#client {
    padding: 80px 0;
    background: url(../images/clients-bg.png);
    background-repeat: no-repeat
}

#client h3 {
    text-align: center;
    font-size: 36px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px
}

#client h3::before {
    background: #2154cf none repeat scroll 0 0;
    bottom: 5px;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px
}

#client h3::after {
    background: #2154cf none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px
}

.slick-slide {
    margin: 0 20px
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 6px 20px;
    background: #fff
}

[dir='rtl'] .slick-slide {
    float: right
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

footer {
    padding: 80px 0 0;
    background: #23273b
}

.copyright {
    border-top: 1px solid #e4d9d9;
    padding: 15px 0 0
}

.fot-link h3 {
    color: #aab0ca;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 0;
    padding-bottom: 20px;
    position: relative
}

.copyright p {
    color: #aab0ca
}

.copyright a {
    color: #fff
}

.fot-link h3::before {
    background: #fff none repeat scroll 0 0;
    bottom: 5px;
    content: "";
    height: 2px;
    left: 16%;
    margin-left: -50px;
    position: absolute;
    width: 100px
}

.fot-link h3::after {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 9%;
    margin-left: -25px;
    position: absolute;
    width: 50px
}

.fot-link ul {
    margin: 0;
    padding: 0
}

.fot-link li {
    display: block;
    list-style-type: none;
    padding: 6px 0
}

.fot-link li a {
    color: #aab0ca;
    font-weight: 400;
    line-height: 30px
}

.footer-social-link {
    margin: 15px 0!important;
    padding: 0
}

.footer-social-link li {
    display: inline-block;
    list-style: none
}

.footer-social-link li:not(:last-child) {
    margin-right: 10px
}

.footer-social-link li a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #e6dbdb;
    display: block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 16px
}

.inner-footer {
    background: #23273b
}

.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform
}

.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
}

#contact {
    padding: 80px 0
}

.inner-page-menu li>a {
    font-size: 15px;
    font-weight: 500;
    position: relative
}

#inner-page {
    padding: 180px 0 150px;
    position: relative;
    overflow: hidden;
    background: url(../images/inner-banner-head.jpg) no-repeat;
    z-index: 2;
    text-align: center;
    background-size: cover
}

.input-box {
    background: #fdfafa;
    padding: 15px 30px;
    border: 1px solid #efe7e7;
    margin-bottom: 5px;
    border-radius: 30px
}

.contact-info:first-child {
    border-bottom: 1px solid #efe7e7;
    margin-bottom: 30px;
    padding-bottom: 30px
}

.banner-heading {
    font-size: 44px;
    text-shadow: 0 .1em .1em rgba(0, 0, 0, 0.3);
    color: #fff;
    text-transform: uppercase
}

#flex-map .Flexible-container {
    position: relative;
    padding-bottom: 25%;
    height: 0;
    overflow: hidden;
    border: none;
    margin-bottom: 0
}

#flex-map .Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    width: 100%;
    top: 0;
    border: none;
    left: 0;
    width: 100%;
    height: 100%
}

#flex-map .Flexible-container1 {
    position: relative;
    padding-bottom: 20%;
    height: 0;
    overflow: hidden;
    border: none;
    margin-bottom: 0
}

#flex-map .Flexible-container1 iframe,
.Flexible-container1 object,
.Flexible-container1 embed {
    position: absolute;
    width: 100%;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#flex-map .Flexible-container2 {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
    border: none;
    margin-bottom: 0
}

#flex-map .Flexible-container2 iframe,
.Flexible-container1 object,
.Flexible-container1 embed {
    position: absolute;
    width: 100%;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.Flexible-container {
    position: relative;
    padding-bottom: 38%;
    height: 0;
    overflow: hidden;
    border: none;
    margin-bottom: 0
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    width: 100%;
    top: 0;
    border: none;
    left: 0;
    width: 100%;
    height: 100%
}

.Flexible-container1 {
    position: relative;
    padding-bottom: 20%;
    height: 0;
    overflow: hidden;
    border: none;
    margin-bottom: 0
}

.Flexible-container1 iframe,
.Flexible-container1 object,
.Flexible-container1 embed {
    position: absolute;
    width: 100%;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.Flexible-container2 {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
    border: none;
    margin-bottom: 0
}

.Flexible-container2 iframe,
.Flexible-container1 object,
.Flexible-container1 embed {
    position: absolute;
    width: 100%;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.offersBox {
    width: 50%;
    float: left
}

.offersText {
    padding: 18px 5% 0 90px
}

.offersText h4 {
    margin: 0 0 15px;
    font-size: 30px;
    color: #fff
}

.offersBnt a {
    margin: 80px 0 40px;
    background: #fff;
    float: left;
    padding: 16px 30px;
    margin: 0;
    color: #7052fb;
    font-size: 18px;
    font-weight: 400
}

.offersInfo {
    width: 100%;
    float: left;
    background: #7052fb
}

.offersText {
    width: 50%;
    float: left;
    padding: 30px 25px 27px 45px;
    font-size: 18px;
    color: #fff;
    line-height: 30px
}

.nita-certificate {
    cursor: pointer
}

.about-site-header {
    background: linear-gradient(to right, #6c4ce2 0%, #b56ee4 100% 0.9);
    box-shadow: 0 10px 20px 0 rgba(79, 35, 35, .08)
}

.about-site-header .site-main-menu li {
    padding: 28px 0
}

#career {
    padding: 80px 0
}

.career-blk {
    box-shadow: 0 30px 60px 0 rgba(52, 27, 159, .1);
    padding: 45px 40px;
    background: #fff;
    margin-top: 20px
}

.job-descrip {
    margin: 0;
    padding: 0
}

.job-descrip li {
    display: block;
    list-style-type: none;
    padding: 8px 0
}

.about-page-img img {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 15px
}

#about-page {
    padding: 80px 0
}

#about-page h3 {
    text-align: left;
    margin-bottom: 0;
    font-size: 18px
}

#about-page h2 {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 24px;
    position: relative;
    padding-bottom: 20px;
    text-align: left
}

#about-page .box-content h3 {
    text-align: center
}

#about-page h2::before {
    background: #2154cf none repeat scroll 0 0;
    bottom: 5px;
    content: "";
    height: 2px;
    left: 5%;
    margin-left: -50px;
    position: absolute;
    width: 100px
}

#about-page h2::after {
    background: #2154cf none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 38px;
    margin-left: -30px;
    position: absolute;
    width: 50px
}

#about-page h1 {
    font-size: 30px
}

.left-content {
    padding-left: 30px
}

#work-process {
    padding: 80px 0;
    background: #f9f9f9
}

.work-process img {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 15px
}

.process-item .count {
    color: #2154cf;
    float: left;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 900;
    vertical-align: top
}

.process-item .info {
    display: table;
    padding-left: 30px
}

.process-item .info h4 {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 600
}

.process-item {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1
}

.process-item:last-child {
    border: medium none;
    margin: 0;
    padding: 0
}

#web-dev {
    background-position: right;
    background-repeat: no-repeat;
    padding: 60px 0
}

.mar-bot30 {
    margin-bottom: 25px;
    border: 1px solid #ddd
}

.web-icon {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px
}

.about-text p {
    text-align: justify
}

.text-input {
    color: #000
}

.box1 img,
.box1:after,
.box1:before {
    width: 100%;
    transition: all .3s ease 0
}

.box1 .icon,
.box2,
.box3,
.box4,
.box5 .icon li a {
    text-align: center
}

.box10:after,
.box10:before,
.box1:after,
.box1:before,
.box2 .inner-content:after,
.box3:after,
.box3:before,
.box4:before,
.box5:after,
.box5:before,
.box6:after,
.box7:after,
.box7:before {
    content: ""
}

.box1,
.box11,
.box12,
.box13,
.box14,
.box16,
.box17,
.box18,
.box2,
.box20,
.box21,
.box3,
.box4,
.box5,
.box5 .icon li a,
.box6,
.box7,
.box8 {
    overflow: hidden
}

.box1 .title,
.box10 .title,
.box4 .title,
.box7 .title {
    letter-spacing: 1px
}

.box3 .post,
.box4 .post,
.box5 .post,
.box7 .post {
    font-style: italic
}

.box3 {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    position: relative
}

.box3 .box-content,
.box3:after,
.box3:before {
    position: absolute;
    left: 7%;
    right: 7%;
    transition: all .3s
}

.box3:after,
.box3:before {
    display: block;
    background: rgba(0, 0, 0, .3);
    top: 10%;
    bottom: 10%;
    z-index: 1;
    transform: scale(0, 1)
}

.box3:after {
    top: 10.8%;
    bottom: 10.8%;
    transform: scale(1, 0)
}

.box3:hover:after,
.box3:hover:before {
    transform: scale(1);
    animation: animate 1.5s
}

.box3:hover:before {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff
}

.box:hover:after {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff
}

.box img {
    width: 100%;
    height: auto;
    transition: all .3s
}

.box3:hover img {
    transform: scale(1.2);
    filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px)
}

.box3 .box-content {
    padding: 30px 10px;
    top: 10%;
    bottom: 10%;
    opacity: 0;
    z-index: 2
}

.box3:hover .box-content {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, .3);
    opacity: 1;
    transition: all .3s
}

.box3 .title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 5px
}

.box3 .post {
    display: block;
    margin: 0 0 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, .8)
}

.box3 .description {
    font-size: 14px;
    color: #fff;
    margin: 0 0 20px
}

.box3 .icon {
    padding: 0;
    margin: 0;
    list-style: none
}

.box3 .icon li {
    display: inline-block;
    margin: 0 10px 0 0
}

.box3 .icon li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
    transition: all .5s
}

.box3 .icon a:hover {
    text-decoration: none;
    animation: animate-hover .5s;
    transition: all .3s
}

@keyframes animate {
    0%,
    100% {
        opacity: 1
    }
}

@keyframes animate-hover {
    0% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, .3)
    }
    50% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, .3)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .3)
    }
}

.box10,
.box11,
.box12,
.box14,
.box4,
.box5,
.box6,
.box7,
.box9 {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.service-heading h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    padding: 0;
    margin: 0
}

.service-heading h1 span {
    font-weight: 700
}

.custom-list ul {
    margin: 0;
    padding: 0
}

.custom-list li {
    background: url(../images/checked.png) no-repeat 0 50%;
    font-size: 16px;
    padding: 10px 0 10px 30px;
    list-style: none;
    margin: 0;
    line-height: 22px
}

.usp h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    color: #333;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px
}

.usp h2::before {
    background: #2154cf none repeat scroll 0 0;
    bottom: 5px;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px
}

.usp h2::after {
    background: #2154cf none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px
}

.welcome-text .banner-heading {
    text-align: left
}

#usp {
    padding: 80px 0
}

.rating-img {
    margin: 10px 0
}

.left-border {
    border-left: 1px dashed #ddd
}

.effect5 {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    padding: 25px
}

.effect5:before,
.effect5:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #ddd;
    -moz-box-shadow: 0 35px 20px #ddd;
    box-shadow: 0 35px 20px #ddd;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg)
}

.effect5:after {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto
}

.Submit-btn {
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 14px;
    display: inline-block;
    background: #7052fb;
    box-shadow: 0 20px 30px 0 rgba(90, 70, 176, .3);
    border: 1px solid transparent;
    width: auto
}
.Submit-btn:focus {
background: #7052fb;
}

#street-view {
    padding: 80px 0;
    background: #f5f5f5 url(../images/street-view-bg.png);
    background-repeat: no-repeat;
    background-position: top right
}

#street-view h2 {
    text-align: center;
    font-size: 36px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px
}

#street-view h2::before {
    background: #2154cf none repeat scroll 0 0;
    bottom: 5px;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px
}

#street-view h2::after {
    background: #2154cf none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px
}

#street-view .Flexible-container {
    padding-bottom: 100%!important;
    margin-top: 20px;
    box-shadow: 0 30px 60px 0 rgba(52, 27, 159, .1)!important
}

.street-view-img.Flexible-container iframe {
    box-shadow: 0 30px 60px 0 rgba(52, 27, 159, .3);
    background: #fff;
    border: 2px solid #fff;
    padding: 10px
}

.carousel-control.left {
    background: transparent
}

.carousel-control.right {
    background: transparent
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    display: none
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    display: none
}

.carousel-inner {
    overflow: inherit
}

@media only screen and (min-width:1400px) {
    .animate-promo-mockup img:first-child {
        left: 100px;
        top: 160px
    }
}

@media only screen and (max-width:992px) {
    .container {
        width: 93%
    }
    .hidden-fa-angle i {
        display: none
    }
}

@media only screen and (max-width:990px) {
    .box3 {
        margin-bottom: 30px
    }
    .box3 .box-content {
        padding: 10px
    }
    .box3 .description {
        margin-bottom: 10px
    }
}

@media only screen and (max-width:767px) {
    #street-view .Flexible-container {
        padding-bottom: 100%!important;
        margin-bottom: 20px
    }
    #street-view h2 {
        font-size: 28px
    }
    .about-page-img {
        margin: 20px 0
    }
    .mrt-30 {
        margin-top: 20px
    }
    #about-page h2::before {
        left: 15%
    }
    #about-page {
        padding: 40px 0
    }
    #work-process {
        padding: 40px 0
    }
    .process-item {
        margin-top: 20px
    }
    .fot-link h3::before {
        left: 8%
    }
    .fot-link h3::after {
        left: 5%
    }
    .footer-social-link {
        text-align: center
    }
    .copyright p {
        text-align: center;
        margin-bottom: 0
    }
    .nita-certificate {
        text-align: center
    }
    footer {
        padding: 40px 0 20px
    }
    #inner-page {
        padding: 140px 0
    }
    #about-page h1 {
        font-size: 24px;
        margin-top: 20px
    }
    .recruitment-details h3 {
        font-size: 22px
    }
    .career-blk {
        padding: 45px 20px
    }
    #career {
        padding: 40px 0
    }
    #contact {
        padding: 40px 0
    }
    #flex-map .Flexible-container {
        padding-bottom: 40%
    }
    .offersBox.wow.bounceInLeft.animated.Flexible-container.animated {
        display: none
    }
    .offersText {
        width: 100%
    }
    .white-blk h2 {
font-size: 22px;
}
    .project-details {
        margin-top: 25px
    }
    #parllax-bg {
        padding: 100px 0!important
    }
    #client {
        padding: 40px 0
    }
    #client h3 {
        font-size: 30px
    }
    .banner .banner-content .banner-btn {
        margin-bottom: 30px!important
    }
    .banner .banner-content .description {
        margin-bottom: 30px!important
    }
    #work h2 {
        font-size: 24px
    }
    .web-icon {
        display: none
    }
    .left-content.mar-top {
        margin-top: 30px
    }
    .animate-promo-mockup {
        display: none
    }
    .usp h2 {
        font-size: 28px
    }
    .left-border {
        border-left: none;
        border-top: 1px dashed #eee;
        margin: 15px 0
    }
}

@media only screen and (max-width:700px) {
    footer .col-xs-4 {
        width: 50%
    }
    .fot-link h3::before {
        left: 20%
    }
    .fot-link h3::after {
        left: 12%
    }
    #about-page h2::before {
        left: 9%
    }
    .fot-link h3::before {
        left: 8%
    }
    .fot-link h3::after {
        left: 4%
    }
}

@media only screen and (max-width:600px) {
    .fot-link h3::before {
        left: 10%
    }
    .fot-link h3::after {
        left: 6%
    }
    .banner-heading {
        font-size: 48px
    }
    .owl-nav {
        display: none
    }
    .slick-slide {
        margin: 0 5px
    }
}

@media only screen and (max-width:520px) {
    .work-blk {
        padding: 30px 15px
    }
    #work .col-xs-6 {
        width: 100%
    }
    .welcome-text h1 {
font-size: 28px;
}
    .banner-heading {
        font-size: 48px!important
    }
    #about {
        display: none
    }
    #about-page h2::before {
        left: 15%
    }
    #about-page {
        padding: 40px 0
    }
    #work-process {
        padding: 40px 0
    }
    .process-item {
        margin-top: 20px
    }
    .fot-link h3::before {
        left: 12%
    }
    .fot-link h3::after {
        left: 7%
    }
    .footer-social-link {
        text-align: center
    }
    .copyright p {
        text-align: center;
        margin-bottom: 0;
        font-size: 13px;
    }
    .nita-certificate {
        text-align: center
    }
    footer {
        padding: 40px 0 20px
    }
    #inner-page {
        padding: 140px 0
    }
    #about-page h1 {
        font-size: 24px
    }
    .recruitment-details h3 {
        font-size: 22px
    }
    .career-blk {
        padding: 45px 20px
    }
    #career {
        padding: 40px 0
    }
    #contact {
        padding: 40px 0
    }
    #flex-map .Flexible-container {
        padding-bottom: 40%
    }
    footer .col-xs-4 {
        width: 100%
    }
    .usp h2 {
        font-size: 28px
    }
    #street-view h2 {
        font-size: 28px
    }
}

@media only screen and (max-width:479px) {
    .box3 .title {
        margin: 0
    }
    .banner.banner-two .banner-content .banner-title {
        font-size: 24px
    }
    #inner-page {
        padding: 84px 0 40px
    }
}

@media only screen and (max-width:400px) {
    .contact-info p {
        font-size: 15px
    }
    .banner-heading {
        font-size: 20px!important
    }
    #about-page h1 {
        font-size: 18px
    }
   .banner.banner-two {
        height: 521px;
    }
    .site-header {
        box-shadow: 0 10px 20px 0 rgba(79, 35, 35, .08)
    }
    .banner-content {
        margin: 10% 0
    }
    .work-blk {
        padding: 30px 15px
    }
    .usp h2 {
    font-size: 18px;
    }
    .usp h3 {
        font-size: 22px
    }
    .fot-link h3::before {
        left: 16%
    }
    .fot-link h3::after {
        left: 9%
    }
    #about-page h2 span {
        font-size: 18px
    }
    #street-view {
        background-image: none
    }
}

@media only screen and (max-width:380px) {
    .banner-heading {
        font-size: 20px
    }
    #about-page h2 span {
        font-size: 18px
    }
}

.invalid-feedback
{
  color: red;
}

.slick-slide img
{
    display: inline-block;
}
.home-slide
{
    margin-top: 160px;
}
#client .slick-slide { border:1px solid #eee}