<!-- Carousel
         ================================================== -->
      
      <section id="inner-page" class="inner-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1 class="banner-heading">Career</h1>
                    
                  </div>
               </div>
               <!-- <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/career-img.png" class="img-responsive" alt=""></div>
               </div> -->
            </div>
         </div>
      </section>

<section id="career" class="career">
    <div class="container">
      <div class="row wow pixFadeLeft" data-wow-delay="0.3s">
        <div class="col-md-12 col-sm-12">
          <div class="career-blk">
            <div class="row">
              <div class="col-md-4 col-sm-4">
               <img src="assets/images/career1.png" class="img-responsive"> 
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="recruitment-details">
                  <h3>Senior Web Designer</h3>
                  <p><strong>Number of Vacancies :2</strong></p>
                  <p><strong>Exp :</strong> 1-2 year</p>
                  <p><strong>Skills :</strong> Photoshop, Dreamweaver, HTML5, Bootstrap Wireframe and Cross Browser compatibility</p>
                  <p><strong>Job Responsibilities :</strong></p>
                  <ul class="job-descrip">
                      <li>Creating web site designs.</li>
                      <li>Producing sample sites.</li>
                      <li>Ability to solve problems creatively and effectively.</li>
                      <li>Proficiency in HTML, CSS and JavaScript for rapid prototyping</li>
                      <li>Ability to solve problems creatively and effectively</li>
                      <li>Manage a team of junior web designers, providing training as and when necessary</li>
                      <li>Up-to-date with the latest Web trends, techniques and technologies</li>
                      <p>Send Your CV at  <a href="mailto:hire@magnusideas.com">hire@magnusideas.com</a></p>
                      <p>Phone Number +91 9850556525</p>
                    </ul>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wow pixFadeLeft" data-wow-delay="0.3s">
        <div class="col-md-12 col-sm-12">
          <div class="career-blk">
            <div class="row">
              
              <div class="col-md-8 col-sm-8">
                <div class="recruitment-details">
                  <h3>Web Development (PHP)</h3>
                  <p><strong>Number of Vacancies :2</strong></p>
                  <p><strong>Exp :</strong> 1-2 year</p>
                  <p><strong>Skills :</strong> PHP, XHTML, MySQL, jQuery, Ajax</p>
                  <p><strong>Job Responsibilities :</strong></p>
                    <ul class="job-descrip">
                      <li>knowledge on PHP & MYSQL skills.</li>
                      <li>Ability to research & develop web applications in PHP independently.</li>
                      <li>Is expected to co-ordinate with the development team to generate qualitative outputs that exceed client expectations.</li>
                      <li>Excellent analytical skills to interpret data and other technical information, solve problems, evaluate systems, and create solutions.</li>
                      <p>Send Your CV at  <a href="mailto:hire@magnusideas.com">hire@magnusideas.com</a></p>
                      <p>Phone Number +91 9850556525</p>
                    </ul>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
               <img src="assets/images/career2.jpg" class="img-responsive"> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wow pixFadeLeft" data-wow-delay="0.9s">
        <div class="col-md-12 col-sm-12">
          <div class="career-blk">
            <div class="row">
              <div class="col-md-4 col-sm-4">
               <img src="assets/images/career3.png" class="img-responsive"> 
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="recruitment-details">
                  <h3>Android Development</h3>
                  <p><strong>Number of Vacancies :2</strong></p>
                  <p><strong>Exp :</strong> 1-2 year</p>
                  <p><strong>Skills :</strong> HTML & JavaScript. Mac development, SQL Database, Proficiency in Xcode, Json, i Phone SDK 3.x, 4.x,5.x.</p>
                  <p><strong>Job Responsibilities :</strong></p>
                  <ul class="job-descrip">
                      <li>Comprehensive understanding of Android application architecture, activities, services, intents, content providers and notifications, web apps and web view.</li>
                      <li>Strong grasping of algorithms and data structures.</li>
                      <li>Knowledge of interactive application development paradigms, memory management, network & socket programming, concurrency and multi-threading.</li>
                      <li>Exposure to location-based services, supporting multiple screens, security and permissions, widgets and social APIs integration will be an added advantage.</li>
                      
                      <p>Send Your CV at  <a href="mailto:hire@magnusideas.com">hire@magnusideas.com</a></p>
                      <p>Phone Number +91 9850556525</p>
                    </ul>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row wow pixFadeLeft" data-wow-delay="0.3s">
        <div class="col-md-12 col-sm-12">
          <div class="career-blk">
            <div class="row">
              
              <div class="col-md-8 col-sm-8">
                <div class="recruitment-details">
                  <h3>IOS Development</h3>
                  <p><strong>Number of Vacancies :2</strong></p>
                  <p><strong>Exp :</strong> 1-2 year</p>
                  <p><strong>Skills :</strong> PHP, XHTML, MySQL, jQuery, Ajax</p>
                  <p><strong>Job Responsibilities :</strong></p>
                  <ul class="job-descrip">
                      <li>Strong Knowledge of Swift</li>
                      <li>Google Maps (including geo fencing and customization)</li>
                      <li>Localization (including RTL & LTR view management)</li>
                      <li>Knowledge of Socket Servers and chatting scenarios</li>
                      <li>Should be proficient in customization of any type of given UI</li>
                      <li>Proper Techniques for parsing and implementing webservices</li>
                      <p>Send Your CV at  <a href="mailto:hire@magnusideas.com">hire@magnusideas.com</a></p>
                      <p>Phone Number +91 9850556525</p>
                    </ul>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
               <img src="assets/images/career4.png" class="img-responsive"> 
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>

<div class="clearfix"></div>