  <!-- Carousel
         ================================================== -->
      
      <section id="inner-page" class="inner-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1 class="banner-heading">About Us</h1>
                    <!--  <p>To help our clients meet their ambition through our employees involves committing to their services and solutions.</p> -->
                  </div>
               </div>
               <!-- <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/about-img.png" class="img-responsive" alt=""></div>
               </div> -->
            </div>
         </div>
      </section>

<section id="about-page" class="form wow pixFadeLeft" data-wow-delay="0.3s">
    <div class="container">
      <h3 class="sub-title">ABOUT US </h3>
      <h2> <span>We Build Amazing Custom
Developed Solutions.</span></h2>
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <div class="about-text">
            <p>Magnus Ideas Pvt. Ltd. is a company come up with IT solutions and services added with consultancy, delivery, development and proper management to start-up ones or large organizations.</p>

           <p>To help our clients meet their ambitions through our employees involves committing to their services and solutions. We work to understand the requirements of our clients before giving a solution.
           </p>

<p>We have personnels who are experienced in working with the latest web-based technologies. We can assist all phases of the application development life cycle, including technical design, functional design, testing, programming and deployment. So, we are working to make the web a beautiful place, where users like to spend time on sites created by us.</p>

          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="xabout-page-img">
            <img src="assets/images/about-page-img1.jpg" class="img-responsive">
          </div>
          </div>
        </div>
      </div>
</section>

<section id="work-process" class="wow pixFadeLeft" data-wow-delay="0.3s">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="xwork-process">
        <img src="assets/images/about-img.png" class="img-responsive" alt="work-process">
      </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="process-item">
          <div class="count">
            01.
          </div>
            <div class="info">
              <h4>Quality Deliverables</h4>
            <p>
              Quality services provided by us are always for customer's satisfaction. We focus on being preferred as a supplier for the products and services.
              </p>
            </div>
        </div>
        <div class="process-item">
          <div class="count">
            02.
           </div>
            <div class="info">
              <h4>Customer Oriented Approach</h4>
                <p>
                 We firstly learn about our customer requirements. Staying in regular contact with customers, emphasize on customer success, being genuine, listen to our customers all this fact builds trust with our customers. 
                  </p>
              </div>
          </div>
          <div class="process-item">
            <div class="count">
              03.
            </div>
              <div class="info">
                <h4>Honesty and Transparency</h4>
                  <p>
                  Our work processes are transparent with project teams. We respond positively and honestly. We have a clarification of the content of contracts and official documents which represents honesty in our work. 
                  </p>
              </div>
           </div>
      </div>
    </div>
  </div>
</section>
        
      
      
      
      <div class="clearfix"></div>