  <!-- Carousel
         ================================================== -->
      
      <section id="inner-page" class="inner-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1 class="banner-heading">Digital Marketing</h1>
                    
                  </div>
               </div>
              <!--  <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/digital-img.png" class="img-responsive" alt=""></div>
               </div> -->
            </div>
         </div>
      </section>

<section id="about-page" class="form wow pixFadeLeft" data-wow-delay="0.3s">
<div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="">
              <h1>DIGITAL MARKETING</h1>
<p>We Magnus Ideas Pvt. Ltd. are leading in Website development throughout the country and oversea. Our services vary in delivering simple & small to large and complex website development. Website will help you pull in more targeted crowd for your business thus increasing sales.</p>

          </div>
        <ul class="custom-list mr-t20">
              <li>Business Strategy</li>
              <li>Marketing</li>
              <li>Search Engine Optimisation</li>
              <li>SEO Ranking Factors</li>
        </ul>
          
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="xabout-page-img">
           <img src="assets/images/digital-marketing.jpg" class="img-responsive" alt="">
          </div>
          </div>
        </div>

</div>
 
  
</section>
    
      
<div class="clearfix"></div>