<!-- Carousel
         ================================================== -->
      
      <section id="inner-page" class="inner-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1 class="banner-heading">Web Development</h1>
                    
                  </div>
               </div>
               <!-- <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/web-img.png" class="img-responsive" alt=""></div>
               </div> -->
            </div>
         </div>
      </section>

<section id="about-page" class="form wow pixFadeLeft" data-wow-delay="0.3s">
<div class="container">
  <div class="box effect5">
      <div class="row ">
          
        <div class="col-md-6 col-sm-6">
        
          <div class="">
              <h1>WEBSITE DEVELOPMENT</h1>
<p>We Magnus Ideas Pvt. Ltd. are leading in Website development throughout the country and oversea. Our services vary in delivering simple & small to large and complex website development. Website will help you pull in more targeted crowd for your business thus increasing sales.</p>

          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="xabout-page-img">
           <img src="assets/images/front-end-dev.jpg" class="img-responsive" alt="">
          </div>

          </div>
</div>

        </div>
<hr>
<div class="box effect5">
        <div class="row wow pixFadeLeft" data-wow-delay="0.3s">
      <div class="col-md-6 col-sm-6">
     <div class="xabout-page-img">
            <img src="assets/images/ecom.jpg" class="img-responsive" alt="">
    </div>
   </div>

       <div class="col-md-6 col-sm-6">
    <div class="">
    <h1>ECOMMERCE DEVELOPMENT</h1>
    <p>Today, people prefer to go for online shopping rather than heading to street shops and shopping mall. Online shopping is a nutshell, why don’t you show up and sell your products on a custom build E-commerce website portal. It’s an amazing source to increase your sales. Magnus Ideas Pvt. Ltd. can perfectly develop customize e-commerce site.</p>
  </div>
  </div> 
</div>
</div>
<hr>
<div class="box effect5">
<div class="row wow pixFadeLeft" data-wow-delay="0.3s">
        <div class="col-md-6 col-sm-6">
          <div class="">
              <h1>CMS DEVELOPMENT</h1>
<p>Magnus Ideas Pvt. Ltd. is a premier company in CMS development having massive experience. We offer high quality content management system that smoothen the way to manage, create and publish data of website. Our service is exactly in scope as per your requirement.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="xabout-page-img">
          <img src="assets/images/cms.jpg" class="img-responsive" alt="">
          </div>
          </div>
        </div>
      </div>
<hr>
<div class="box effect5">
<div class="row wow pixFadeLeft" data-wow-delay="0.3s">
      <div class="col-md-6 col-sm-6">
     <div class="xabout-page-img">
            <img src="assets/images/webapp-dev.png" class="img-responsive" alt="">
    </div>
   </div>

       <div class="col-md-6 col-sm-6">
    <div class="">
    <h1>WEB & APP DEVELOPMENT</h1>
    <p>Magnus Ideas Pvt. Ltd. has come up with Web and Application Development in India. Our product is designed in such a way to respond and look very well on all devices like mobile, tablets, and desktop. We implement creative ideas with amazing user experience to deliver excellent Web & applications to consumers.</p>
  </div>
  </div> 
</div>
</div>
<hr>
<div class="box effect5">
<div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="">
              <h1>FRONT END DEVELOPMENT</h1>
<p>Magnus Ideas Pvt. Ltd. is counted as the best Front End Development Company. We are recognized by our art and technical skills. Each and every work piece is designed in a distinctive, idiosyncratic style which gives direct access to lasting look. To make an instant place in audience mind and heart just espouse latest technology and trends, all that will get from us.</p>

          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="xabout-page-img">
           <img src="assets/images/frontend-dev.png" class="img-responsive" alt="">
          </div>
          </div>
        </div>
      </div>
<hr>
<div class="box effect5">        
<div class="row wow pixFadeLeft" data-wow-delay="0.3s">
  <div class="col-md-6 col-sm-6">
          <div class="xabout-page-img">
          <img src="assets/images/dicated-resource.png" class="img-responsive" alt="DEDICATED RESOURCE">
          </div>
          </div>
        <div class="col-md-6 col-sm-6">
          <div class="">
              <h1>DEDICATED RESOURCE</h1>
<p>We at Application Square have highly professional dedicated resources so you can have better infrastructure of your project with less expense and time. Always get fulfill your needs and get avail with the immediate implementation of the solutions. Below are our professional dedicated resources.</p>
          </div>
        </div>
        
        </div>
      </div>
<!-- <div class="row">
    <div class="col-md-6 col-sm-6">
          <div class="about-page-img">
          <img src="assets/images/ecom.jpg" class="img-responsive" alt="">
          </div>
          </div>
  <div class="col-md-6 col-sm-6">
          <div class="">
              <h1>WEB APP DEVELOPMENT</h1>
<p>At Magnus Ideas Pvt. Ltd. we facilitate in building web application having hands on experience for the same. We jot down your ideas and availing the best available resources implements it. Our expertise build attractive, eye-catchy web app that fits your needs.</p>
          </div>
        </div>
        
        </div> -->
</div>
 
  
</section>
    
      
<div class="clearfix"></div>