 
      <!-- Carousel
         ================================================== -->
      
      <section id="inner-page" class="inner-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1 class="banner-heading">Services</h1>
                    
                  </div>
               </div>
              <!--  <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/contact-img.png" class="img-responsive" alt=""></div>
               </div> -->
            </div>
         </div>
        
      </section>

<section id="about-page" class="form">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="left-content">
              <h1>FRONT END DEVELOPMENT</h1>
<p>Magnus Ideas Pvt. Ltd. is counted as the best Front End Development Company. We are recognized by our art and technical skills. Each and every work piece is designed in a distinctive, idiosyncratic style which gives direct access to lasting look. To make an instant place in audience mind and heart just espouse latest technology and trends, all that will get from us.</p>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Web Design </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Responsive + Mobile Websites </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Graphic Design</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Custom web design</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Logo Design</div>
          </div>
        </div>

          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="xabout-page-img">
            <img src="assets/images/front-end.jpg" class="img-responsive">
          </div>
          </div>
        </div>
      </div>
</section>

<section id="web-dev">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
     <div class="xabout-page-img">
            <img src="assets/images/web-app-dev.jpg" class="img-responsive" alt="">
    </div>
   </div>

       <div class="col-md-6 col-sm-6">
    <div class="left-content mar-top">
    <h1>WEB & APP DEVELOPMENT</h1>
    <p>Magnus Ideas Pvt. Ltd. has come up with Web and Application Development in India. Our product is designed in such a way to respond and look very well on all devices like mobile, tablets, and desktop. We implement creative ideas with amazing user experience to deliver excellent Web & applications to consumers.</p>

    <div class="row">
      <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Web Development</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Ecommerce Development</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">PHP Development</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Android Development</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Wordpress Development</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">iPhone App Development</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Joomla Development</div>
          </div>
    </div>
  </div>
  </div>
   
</div>
  </div>
</section>

<section id="about-page" class="form">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="left-content">
              <h1>DEDICATED RESOURCE</h1>
<p>We at Application Square have highly professional dedicated resources so you can have better infrastructure of your project with less expense and time. Always get fulfill your needs and get avail with the immediate implementation of the solutions. Below are our professional dedicated resources..</p>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Web Designer</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Joomla Developer</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">PHP Developer</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">SEO Expert</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Wordpress Developer</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="web-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="web-heading">Magento Developer</div>
          </div>
        </div>

          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="xabout-page-img">
            <img src="assets/images/front-end.jpg" class="img-responsive">
          </div>
          </div>
        </div>
      </div>
</section>
        
      
      
      
      <div class="clearfix"></div>