      <!-- Carousel
         ================================================== -->
<section class="banner banner-two">
         <div class="vector-bg"><img src="assets/images/top shape.png" alt="circle"></div>
         <div class="container">
            <div class="row">
           <div class="align-items-center">
                  <div class="col-lg-6 col-md-6 col-sm-6">
            <div id="carousel-example-generic" class="carousel-fade carousel slide home-slide" data-ride="carousel" >
              <!-- Indicators -->
             
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item ">
                  <div class="banner-content">
                        <h1 class="banner-title wow pixFadeUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: h;">We <span>Build<br></span> Amazing Custom
                           <br>Developed Solutions.</h1>
                        <p class="description wow pixFadeUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: h;">To help our clients meet their ambitions through our <br>employees involves committing to their services and solutions.!</p>
                        <a routerLink="/about" class="pxs-btn banner-btn color-two wow pixFadeUp animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: h;">Get Started</a>
                     </div>
                 
                </div>
                <div class="item active">
                  
                  <div class="banner-content">
                        <h1 class="banner-title wow pixFadeUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: h;">
                           <img src="assets/images/trusted.png" class="img-responsive" alt="google logo">
                         <!--  <span><br> Street View</span><br> Trusted Agency -->
                          </h1>
                        <p class="description wow pixFadeUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: h;">Magnus Ideas Pvt. Ltd. virtual tours offer a variety of effects <br>that will enhance any virtual tour.!</p>
                        <a routerLink="photography" class="pxs-btn banner-btn color-two wow pixFadeUp animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: h;">Get Started</a>
                     </div>
                </div>
              </div>
              <!-- Controls -->
              
              
            </div>
          </div>
           <div class="col-lg-6 col-md-6 col-sm-6">
                     <div class="animate-promo-mockup"><img src="assets/images/01.png" class="wow pixFadeDown" alt="mpckup" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: i;"> </div>
                  </div>
       </div>
          
        </div>
         </div>
      </section>

      <section id="about" class="section-title">
        <div class="about-bg">
         <div class="container">
            <div class="row">
               <div class="col-md-7 col-sm-7 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1>Welcome To Magnus Ideas Pvt. Ltd. </h1>
                     <p>Magnus Ideas Pvt. Ltd. is a company come up with IT solutions and services added with consultancy, delivery, development and proper management to start-up ones or large organizations.</p>
                     <p>We started our journey of delivering high quality services. We are based in Nashik, India and today continuously moving ahead to satisfy our clients. Our company has reach top position by our hard work, passion, and full dedication towards services we offered at local and global level. We believe and make sure to inculcate innovations, latest technology and upgrade in our work.</p>
                  </div>
               </div>
               <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/welcome-img.jpg" class="img-responsive" alt=""></div>
               </div>
            </div>
         </div>
       </div>

      </section>

       <section id="work">
         <div class="container">
            <div class="row text-center">
               <h3 class="sub-title">Working Process</h3>
               <h2 class="title">The only app you will need</h2>
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: j;">
                     <div class="iapp-icon-box-icon"><img src="assets/images/creative-design.jpg" alt=""></div>
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Creative Design UI & UX</a></h3>
                        <p>We inspire to create great designs blending with your imagination that leads to most precious part of building your business.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: j;">
                     <div class="iapp-icon-box-icon"><img src="assets/images/web-mobile-dev.jpg" alt=""></div>
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Mobile App Development</a></h3>
                        <p>Web and mobile development service is more than perfection when it come in our hands with prominent functionality.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: j;">
                     <div class="iapp-icon-box-icon"><img src="assets/images/soft-dev.jpg" alt=""></div>
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Software Devlopment</a></h3>
                        <p>Devoted to software development integrated with design, technology and information that runs faster without any breaks.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: j;">
                     <div class="iapp-icon-box-icon"><img src="assets/images/digi-market.jpg" alt=""></div>
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Digital Marketing</a></h3>
                        <p>We inspire to create great designs blending with your imagination that leads to most precious part of building your business.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: j;">
                     <div class="iapp-icon-box-icon"><img src="assets/images/ui-ux-design.jpg" alt=""></div>
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Web Development</a></h3>
                        <p>We Magnus Ideas Pvt. Ltd. are leading in Website development throughout the country and oversea.Our services vary in delivering simple.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: j;">
                     <div class="iapp-icon-box-icon"><img src="assets/images/360-shoot.png" alt=""></div>
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">360<sup>0</sup> Photo Shoot</a></h3>
                        <p>Virtual tours from Magnus Ideas Pvt. Ltd. offer a variety of effects to enhance any virtual tour. The most popular effects include.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 col-sm-12">
                  <a routerLink="web-development" class="pxs-btn banner-btn color-two wow pixFadeUp animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: h;">Read More</a>
               </div>
            </div>
         </div>
      </section>
      <section id="parllax-bg">
         <div class="slider-overlay"></div>
         <div class="container">
            <div class="white-blk ">
               <h2>OUR PROJECTS</h2>
               <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                  <div ngxSlickItem class="item wow fadeInUp">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                           <div class="project-details">
                           <h3>Rajshri Food</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div ngxSlickItem class="item wow fadeInUp">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img2.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Victor India</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div ngxSlickItem class="item wow fadeInUp">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img3.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Helio Scientific</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div ngxSlickItem class="item wow fadeInUp">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img4.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Rural Hand Made</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div ngxSlickItem class="item wow fadeInUp">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img5.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Cubro Network Visibility</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div ngxSlickItem class="item wow fadeInUp">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img6.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>ePoint Technologies</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div ngxSlickItem class="item wow fadeInUp">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img7.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Sarvamangal Tech Ventures</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div ngxSlickItem class="item wow fadeInUp">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img8.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Oreo</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
               </ngx-slick-carousel>
               <!-- <div class="owl-carousel owl-theme">
                  <div class="item wow fadeInUp" data-wow-delay="0.3s">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                           <div class="project-details">
                           <h3>Rajshri Food</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="item wow fadeInUp" data-wow-delay="0.3s">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img2.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Victor India</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="item wow fadeInUp" data-wow-delay="0.3s">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img3.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Helio Scientific</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="item wow fadeInUp" data-wow-delay="0.3s">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img4.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Rural Hand Made</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="item wow fadeInUp" data-wow-delay="0.3s">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img5.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Cubro Network Visibility</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="item wow fadeInUp" data-wow-delay="0.3s">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img6.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>ePoint Technologies</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="item wow fadeInUp" data-wow-delay="0.3s">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img7.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Sarvamangal Tech Ventures</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="item wow fadeInUp" data-wow-delay="0.3s">
                     <div class="row">
                        <div class="col-md-5 col-sm-5">
                           <img src="assets/images/Projects_img8.png" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-7">
                             <div class="project-details">
                           <h3>Oreo</h3>
                           <p class="clients-words">Right below are the most popular, innovative, challenging projects developed by us. Checkout the below projects.</p>
                        </div>
                        </div>
                     </div>
                  </div>
               </div> -->
            </div>
         </div>
      </section>
      <div class="clearfix"></div>
     <!--  <section id="street-view">
         <div class="container">
            <div class="text-center usp">
          
               <h2 class="title">Google Street View</h2>
               <p>Google Business listing optimization</p>
            </div>
               <div class="row">
                  <div class="text-center">
                  <h3 class="sub-title">360<sup>0</sup> Photoshoot</h3> 
               </div>

                  <div class="col-md-4 col-sm-4">
                     <div class="street-view-img Flexible-container">
                       <iframe src="https://www.google.com/maps/embed?pb=!4v1573041000709!6m8!1m7!1sCAoSLEFGMVFpcE1mWGZKSTNOMmdWYWx1YXZId0lPaDg3ZHhJRkRfUU90NUY0T2RP!2m2!1d20.008419!2d73.755115!3f175.40419891464464!4f-39.00604512162069!5f0.7820865974627469" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                     <div class="street-view-img Flexible-container">
                       <iframe src="https://www.google.com/maps/embed?pb=!4v1573041140653!6m8!1m7!1sCAoSLEFGMVFpcE1kM0h5c0QyWmFqX0F0ZFFoUEdtc24taGRCODRkOTFjU3hVM0d0!2m2!1d20.0096417!2d73.7641103!3f0!4f0!5f0.7820865974627469" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                     <div class="street-view-img Flexible-container">
                       <iframe src="https://www.google.com/maps/embed?pb=!4v1573041206914!6m8!1m7!1sCAoSLEFGMVFpcE5kczdzRVhOT0JtLUtRZmFJRDlpdFl0Tm9WRlZjUzVzSFpvXzNI!2m2!1d20.0043513!2d73.783666!3f110.29932757573872!4f-2.9906653577633904!5f0.7820865974627469" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                     </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                     <div class="street-view-img Flexible-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!4v1573046932506!6m8!1m7!1sCAoSLEFGMVFpcE9DSlhYdF9HV0swN25tMVVxbXp3WkdaZUt6M1BWRWlyeS1SUjZE!2m2!1d19.99687!2d73.75433!3f227.1342520656424!4f5.042039601046014!5f0.7820865974627469" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                     </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                     <div class="street-view-img Flexible-container">
                       <iframe src="https://www.google.com/maps/embed?pb=!4v1573047963040!6m8!1m7!1sCAoSLEFGMVFpcE9rUTRabFdudHB1X1Y0aUdTazJydjVwclB0M05KSkduWm4wZ2Jp!2m2!1d20.0014678!2d73.78350809999999!3f191.9146574447472!4f-15.497149775417114!5f0.7820865974627469" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                     </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                     <div class="street-view-img Flexible-container">
                       <iframe src="https://www.google.com/maps/embed?pb=!4v1573048055694!6m8!1m7!1sCAoSLEFGMVFpcE1Dd2g3UUZlNENRVVNNNWJmNjdPbnVyM2YxSUtLOHRsQ3pYYUNT!2m2!1d19.9982985!2d73.7684767!3f323.3202791182586!4f-15.430369909302073!5f0.7820865974627469" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                     </div>
                  </div>

                 
                
               </div>
              
           
         </div>
      </section> -->
      
      <div class="clearfix"></div>


      <section id="usp">
         <div class="container">
            <div class="text-center usp">
            <h3 class="sub-title">Why to</h3>
               <h2 class="title">Choose Magnus Ideas Pvt. Ltd.</h2>
            </div>
            <div class="row">
               <div class="col-md-6 col-sm-6">
                  <img src="assets/images/speed-img.jpg" class="img-responsive" alt=""> 
               </div> 
               <div class="col-md-6 col-sm-6">
                  <div class="row">
                     <div class="col-md-6 col-sm-6">
                        <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk animated" data-wow-delay="0.3s">
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">2016</a></h3>
                        <p>Established in 2016</p>
                     </div>
                  </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk animated" data-wow-delay="0.3s">
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">359<!-- <sup>+</sup> --></a></h3>
                        <p>Projects Completed</p>
                     </div>
                  </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk animated" data-wow-delay="0.3s">
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">14<sup>+</sup></a></h3>
                        <p>Technical Staff</p>
                     </div>
                  </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="pixsass-icon-box-wrapper style-one wow pixFadeLeft work-blk animated" data-wow-delay="0.3s">
                     <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">02</a></h3>
                        <p>Locations Mumbai, Nashik </p>
                     </div>
                  </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>


<section id="parllax-bg">
         <div class="slider-overlay"></div>
         <div class="container">
            <div class="white-blk ">
               <div class="text-center">
            <!-- <h3 class="sub-title">Our  </h3> -->
               <h2 class="title">Reviews and Ratings</h2>
            </div>
               <!-- <h2>Our Reviews and Ratings</h2> -->
               
               <div class="row">
                  <div class="col-md-6 col-sm-6">
                      <h3 class="text-center">Proud Member of</h3>
                     <div class="row">

                        <div class="col-md-6 col-sm-6">
                           <div class="rating-img text-center">
                   
                
                      <div class="nita-certificate"><a onclick="window.open('https://www.nashikit.com/membersarea/certificate/22','NITA Certificate','width=915,height=641'); return false;">          
                        <img src="https://nashikit.com/media_kit/media4_243x100.png" border="0" /></a></div>
                         </div>
                        </div>
                         <div class="col-md-6 col-sm-6">
                           <div class="rating-img text-center">
                              <a target="_blank">
                               <img src="assets/images/street-view-agency.png" class="img-responsive img-center" alt="Street View Agency">
                            </a>
                           </div>
                        </div>
                     </div>
                     
                  </div>
                   <div class="col-md-6 col-sm-6">
                      <div class="row left-border">
                         <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="rating-img text-center">
                              <a href="https://www.google.co.in/search?biw=1366&bih=657&ei=atS_Xa_AMb7az7sPlLyx8AY&q=magnus+ideas&oq=magnus+ideas&gs_l=psy-ab.3..0l2j0i22i30j38.19100.22173..23069...0.0..0.160.1402.0j12......0....1..gws-wiz.......0i67j0i131j0i10j0i22i10i30.ljQsw3ZQbJ0&ved=0ahUKEwivneu3hdDlAhU-7XMBHRReDG4Q4dUDCAs&uact=5" target="_blank">
                               <img src="assets/images/google.jpg" class="img-responsive img-center" alt="google rating">
                            </a>
                            </div>
                         </div>
                         <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="rating-img text-center">
                              <a href="https://www.facebook.com/pg/magnusideas/reviews/?ref=page_internal" target="_blank">
                               <img src="assets/images/facebook.jpg" class="img-responsive img-center" alt="fb rating">
                            </a>
                            </div>
                         </div>
                         <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="rating-img text-center">
                              <a href="#" target="_blank">
                               <img src="assets/images/searchen.jpg" class="img-responsive img-center" alt="searchen rating">
                            </a>
                            </div>
                         </div>
                         <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="rating-img text-center">
                              <a href="#" target="_blank">
                               <img src="assets/images/clutch.png" class="img-responsive img-center" alt="clutch rating">
                            </a>
                            </div>
                         </div>
                      </div>
                   </div>
               </div>
            </div>
         </div>
      </section>

<div class="clearfix"></div>
      <section id="client">
         <div class="container">
            <h3>OUR  CLIENTS</h3>
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig1">
                <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client1.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client12.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client2.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client3.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client4.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client5.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client6.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client7.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client8.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client9.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client10.png"></div>
               <div ngxSlickItem class="slide text-center"><img class="img-responsive img-center" src="assets/images/client11.png"></div>
               </ngx-slick-carousel>
            <!-- <div class="customer-logos slider">
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client1.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client12.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client2.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client3.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client4.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client5.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client6.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client7.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client8.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client9.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client10.png"></div>
               <div class="slide text-center"><img class="img-responsive img-center" src="assets/images/client11.png"></div>
            </div> -->
         </div>
      </section>

<div class="clearfix"></div>


