 <!-- Carousel
         ================================================== -->
      
      <section id="inner-page" class="inner-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 wow pixFadeLeft animated" data-wow-delay="0.6s">
                  <div class="welcome-text">
                     <h1 class="banner-heading">Software Development</h1>
                     
                  </div>
               </div>
             <!--   <div class="col-md-5 col-sm-5">
                  <div class="welcome-img"><img src="assets/images/web-img.png" class="img-responsive" alt=""></div>
               </div> -->
            </div>
         </div>
      </section>

<section id="about-page" class="form wow pixFadeLeft" data-wow-delay="0.3s">
<div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <div class="">
              <h1>SOFTWARE DEVELOPMENT</h1>
              <h4>Using Custom Software Design to take your business to the next level</h4>
<p>Magnus Ideas Pvt. Ltd. provides Custom Software Development Solutions & Software Integration Services to government organizations for their tailor-made business needs for small start-up companies.</p>
<p>Many of the ready-made solutions are available on the market, but none of them can fulfill personalized customer specifications tailor-made. Smooth operations and the company's higher productivity rely on the difference between a custom software development package and a standard software development package within a highly competitive global business environment.
</p>
<p>We offer business software solutions to companies that have business operations at a single location or are widely distributed around the globe, depending on their custom needs.
</p>

          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="xabout-page-img">
           <img src="assets/images/ecom.png" class="img-responsive" alt="">
          </div>
          </div>
        </div>

        <div class="row">
           <div class="col-md-12 col-sm-12">
             <p>Hiring an outsourced software development team or business enterprise to improve the service is not a smooth task. Especially now when a brand has to work on such a variety of different stages and gadgets on so many different platforms and devices. This must be quick in view of the fact that the quicker you get to the business sector, the greater is your opportunity to reach the industry as a whole. We have the expertise and structures that you need to offer us your item progress movement unhesitatingly.</p>

             <p>Our teams will help you properly, from writing the product specifications you have in mind, to prototyping, designing and reviewing, to finally revealing the product on different platforms and devices at various stages and gadgets. Such an excess of using standard programming enhancement best practices and ensuring security policies.</p>
           </div>
        </div>

</div>
 
  
</section>
    
      
<div class="clearfix"></div>